@import '../../theme/variables';

.component {
	background: $main-background;
	left: 20px;
	padding: 2rem;
	position: fixed;
	top: 20px;
	width: 100%;
}

.site_name {
	color: #fff;
	font-weight: 700;
	font-size: 1.4rem;
	letter-spacing: 3px;
	text-transform: uppercase;
}
