/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');


// Custom Colors
$cyan: #33e0ff;
$humility: #777;

$main-background: #3685b7;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
